[client]

user            = root
password        = "{{ mysql_root_password }}"
host            = localhost

port            = 3306
socket          = /var/lib/mysql/mysql.sock


[mysqld_safe]
nice            = 0
log-error       =/var/log/mariadb/mariadb.log
pid-file        =/var/run/mariadb/mariadb.pid



[mysqld]

bind_address            = 0.0.0.0
user                    = mysql
port                    = 3306
datadir                 = /var/lib/mysql
default_storage_engine  = InnoDB
tmpdir                  = /tmp
socket                  = /var/lib/mysql/mysql.sock
symbolic-links          = 0

# Do not replicate sql queries for the local server ID
replicate-same-server-id = 0

# Do replicate the folowwing databases
binlog_do_db    =

replicate-do-db =

# Do not replicate the following databases
binlog-ignore-db = mysql
replicate-ignore-db = mysql

expire_logs_days = 10
max_binlog_size = 500M



skip-name-resolve

skip-external-locking
key_buffer              = 16M
max_connections         = 100
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8

myisam-recover          = BACKUP
query_cache_limit       = 128M
query_cache_size        = 128M

log_error               = /var/log/mariadb/err.log
slow_query_log          = 1
long_query_time         = 10
log-slow-queries        = /var/log/mariadb/mariadb_slow_queries.log
log-queries-not-using-indexes

server-id                = {{ mysql_server_id }}
auto-increment-increment = {{ mysql_auto_increment_increment }}
auto-increment-offset    = {{ mysql_auto_increment_offset }}
log_bin                  = /var/log/mariadb/mariadb-bin.log
sync_binlog              = 1
binlog_format            = ROW
expire_logs_days         = 2
max_binlog_size          = 100M
log_slave_updates

#New parameters
tmp_table_size           = 64M
slow-query-log=1
slow-query-log-file      = /var/lib/mysql/mysql-slow-query.log
long-query-time=1
max_heap_table_size      = 64M
skip-name-resolve
query_cache_size         = 64M
wait_timeout             = 60

default_storage_engine          = InnoDB

innodb_autoinc_lock_mode        = 2 # This is the fastest and most scalable lock mode, but it is not safe when using statement-based replication or recovery scenarios when SQL statements are replayed from the binary log
innodb_file_per_table
innodb_thread_concurrency       = 0
innodb_buffer_pool_size         = 1G
innodb_log_buffer_size          = 64M
# innodb_locks_unsafe_for_binlog  = 1
# innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 500M

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer = 16M
